/* font-family: "Raleway",sans-serif; font-family:
"Roboto",sans-serif; */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;}
    
ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
a {
    text-decoration: none;}

    .container {
        max-width: 1158px;
        padding: 0 15px;
        margin: 0 auto;
    }
/* header */

.page-header{
border-bottom: 1px solid #e7e9fc;
box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container{
display: flex;
align-items: center;
}
.header-nav{
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-logo{
    padding: 24px 0; 
    margin-right: 76px ;
}
.header-logo .logo-part {
    color: #2e2f42;
}

.nav-list{
display: flex;
align-items: center;
gap: 40px;
}
.nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link.current {
position: relative;
}

.nav-link.current::after {
content: '';

position: absolute;
left: 0;
bottom: -1px;
width: 100%;
height: 4px;
border-radius: 2px;
background-color: #404bbf;

}
.contacts {
    font-style: normal;
    margin-left: auto;
}
.contacts-list{
display: flex;
align-items: center;
gap: 40px;
}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
    color: #404bbf;
}

/* #region hero */
.hero {
    max-width: 1440px;
    margin: 0 auto;
    background: #2e2f42;
    text-align: center;
    padding: 188px 0;
    background-color: rgb(var(--cl-primary) / 70%);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../images/hero/img-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
      margin: 0 auto;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    color: #fff;
    margin-bottom: 48px;
}

.btn {
    display: block;
    margin: 0 auto;
    min-width: 169px;
height: 56px;
padding: 0 24px;
    min-height: 45px;
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border: none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
    background-color: #404bbf;
    color: #fff;
    cursor: pointer;
}

/* #characteristics tools */
.characteristics{
padding-top: 120px;
padding-bottom: 120px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.characteristics-list{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.characteristics-item{
   width: calc((100% - 3 * 24px) / 4);
}
.characteristics-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
   
}
.characteristics-icons {
fill: #2e2f42;
}

.characteristics-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.characteristics-type {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}

/* #region tools */
.tools {
    background-color: #f4f4fd;
    color: #434455;
    padding: 120px 0;
    text-align: center;
    }

.section-title {
    margin: 0 auto 72px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}
.tools-list{
  display: flex;
  flex-wrap: wrap;
  gap: 24px; 
list-style: none;
margin: 0;
padding: 0;
justify-content: center;
}

.tools-item {
    background-color: #fff;
    width: calc((100% - 24px*3) / 4);
    overflow: hidden;
border-radius: 0px 0px 4px 4px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
0 1px 1px 0 rgba(46, 47, 66, 0.16),
0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.tools-ill{
    display: block;
    width: 100%;
    height: auto;
}
.tools-name-info{
padding: 32px 0;

}
.tools-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.tools-type {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-bottom: 8px;
}
.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.social-item {
    width: 40px;
    height: 40px;
}

.social-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}

.tools-icons {
    fill: var(--light-color, #f4f4fd);
}

/* #region portfolio */
.portfolio{
padding-top: 120px;
padding-bottom: 120px;
}
.portfolio-container {

background-color: #fff;
text-align: center;

}

.portfolio-title {
    margin: 0 auto 72px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
    text-transform: capitalize;
    color: #2e2f42;
}


.portfolio-list{
display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
   row-gap: 48px;
   column-gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
    }
   
.portfolio-wrapper{
    position: relative;
    overflow: hidden;
}
.overlay-text{
    position: absolute;
    text-align: left;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--light-color, #f4f4fd);
background-color: #4d5ae5;
    transform: translateY(100%);
    transition: transform 250ms 
    cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item {
    width: calc((100% - 24px*2) / 3 );
    background-color: #fff;
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover,
.portfolio-item:focus {
    transform: translateY(-4px);
    box-shadow:
            0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-ill{
display: block;
width: 100%;
 height: auto;
transition: transform 250ms 
cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay-text,
.portfolio-item:focus .overlay-text {
    transform: translateY(0);
}

.portfolio-name-box{
border: 1px solid #e7e9fc;
border-top: none;
    padding: 32px 16px;
    text-align: left;   
}

.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    
    color: #2e2f42;
}

.portfolio-type {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
}

.footer {
    background: #2e2f42;
    padding: 100px 0;
    color: #f4f4fd;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-logo-slogan {
    max-width: 264px;
    margin-right: 120px;
}

.footer-header-logo {
    display: inline-block;
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 800;
    text-decoration: none;
    color: #4d5ae5;
}

.footer-header-logo .footer-logo-part {
    color: #f4f4fd;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;

}

.footer-slogan {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
    
}

.social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-color, #ffffff);
    margin-bottom: 16px;
}

.footer-list {
    display: flex;
    gap: 16px;
}

.footer-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
    background-color: #31d0aa;
}

.tools-icons {
    fill: #f4f4fd;}



.footer-form {
   margin-left: auto;
}
.footer-bnb {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: left;
    margin-bottom: 16px;
}
.footer-form-field {
    display: flex;
    align-items: center;
    gap: 24px; 
   
}
.form-label {
    display: flex;
    align-items: center;
    line-height: 1.17;
}
.form-input {
    width: 264px;
    height: 40px;
    border-radius: 4px;
    background-color: transparent;
    color: #ffffff;
    padding-left: 16px;
    font-size: 12px;
    border: 1px solid #ffffff;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input::placeholder {
    color: rgba(255, 255, 255, 0.6);}

.form-input:focus {
    border: 1px solid #ffffff;
    outline: none;
}
.footer-button {
    display: flex;
    align-items: center;
    justify-content: center;
  
    min-width: 165px;
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color: #4d5ae5;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;    
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-button:hover,
.footer-button:focus {
    background-color: #404bbf;
}
.form-icon {
    margin-left: 16px;
    display: inline-block;
    vertical-align: middle;
    fill: #ffffff;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}

    :root {
     --label-color: #8e8f99;
     --checked-bg-color: #404bbf;
    --checked-icon-color: #F4F4FD;
    }
            
    .backdrop {
     position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     background: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
     }
            
    .backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
     }
            
    .modal {
     width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
    position: absolute;
    top: 50%;
     left: 50%;
     border-radius: 4px;
     background: #fcfcfc;
     box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
     0 1px 3px 0 rgba(0, 0, 0, 0.12),
     0 2px 1px 0 rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .backdrop.is-open .modal {
     opacity: 1;
    transform: translate(-50%,
    -50%);
     }
            
    .modal-btn {
    position: absolute;
      top: 24px;
     right: 24px;
     width: 24px;
      height: 24px;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 0;
     border-radius: 50%;
     background-color: #e7e9fc;
     color: #111111;
    cursor: pointer;
     border: 1px solid rgba(0, 0, 0, 0.1);
     transition:
     background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
     }
    .modal-btn:hover,
    .modal-btn:focus {
    background-color: #404BBF;
    border: none;
    color: #FFFFFF;
    }
   .modal-btn:hover .modal-btn-icon,
 .modal-btn:focus .modal-btn-icon {
     fill: #FFFFFF;
     }
            
    .modal-btn-icon {
     fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
            
   .modal-caption {
     max-width: 360px;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
     letter-spacing: 0.02em;
     text-transform: none;
      color: #2e2f42;
     }
            
     .modal-form-field {
     margin-bottom: 8px;
     }
    
           
    .modal-form-label {
     display: block;
     margin-bottom: 4px;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.17;
    color: var(--label-color);
     }
            
    .modal-form-wrapper {
     position: relative;
     }
           
    .modal-form-input {
     display: block;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
     background-color: transparent;
    outline: transparent;
     color: #2e2f42;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     }
     
         .modal-form-input::placeholder {
             color: rgba(46, 47, 66, 0.4);
             transition: 
             color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

    .modal-form-input:focus {
     border-color: #4D5AE5;
      }
   .modal-form-input:focus::placeholder {
       color: rgba(46, 47, 66, 0.8);
   }
   
    .modal-form-icon {
     position: absolute;
     top: 50%;
     left: 16px;
    transform: translateY(-50%);
    fill: #111111;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
    }
            
    .modal-form-input:focus+.modal-form-icon {
    fill: #4D5AE5;
     }
     .modal-form-textarea {
        margin-bottom: 16px;
     }
            
     .modal-form-message {
     width: 100%;
    height: 120px;
    padding: 8px 16px;
    line-height: 1.17;
   font-size: 12px;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    resize: none;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     }
            
    .modal-form-message:focus {
     border-color: #4d5ae5;
    }
            
     .modal-form-message::placeholder {
      color: rgba(46, 47, 66, 0.4);
     }
            
     .form-agreement {
     margin-bottom: 24px;
     }           
     .agreement-wrapper {
    align-items: center;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
     color: #8e8f99;
    cursor: pointer
 }
            
.agreement-checkbox {
 display: inline-flex;
 justify-content: center;
align-items: center;
width: 16px;
 height: 16px;
 margin-right: 8px;
border-radius: 2px;
background-color: transparent;
 border: 1px solid rgba(46, 47, 66, 0.4);
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
 border 250ms cubic-bezier(0.4, 0, 0.2, 1),
 fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 fill: transparent;
 }
 input[type="checkbox"
 ]:checked+.agreement-wrapper>.agreement-checkbox {
 background-color: var(--checked-bg-color);
border: none;
 fill: var(--checked-icon-color);
     }
           
.agreement-link {
text-decoration-line: underline;
text-decoration-skip-ink: none;
 color: #4d5ae5;
line-height: 1.33;
 }
 .btn-accent {
display: block;
 margin: 0 auto;
 padding: 16px 32px;
min-width: 169px;
 background-color: #4d5ae5;
color: #fff;
border: none;
border-radius: 4px;font-weight: 500;
font-size: 16px;
 line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
cursor: pointer;
            
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-accent:hover,
.btn-accent:focus {
background-color: #404bbf;}